$enfont: "neue-haas-unica", sans-serif;

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.15em;
  color: #454545;
}
