$wPc: 1030px;
$breakpoint: 769px;

// Break Point
@mixin mqpc {
    @media screen and (max-width: 1280px) {
    @content;
    }
}

@mixin mqsp {
    @media screen and (max-width: $breakpoint - 1) {
        @content;
    }
}
